nuclei_scan.yaml
id: nuclei_scan
namespace: easm
description: Nuclei workflow with validated target expansion, safety caps, and high-throughput scanning.

inputs:
  - id: ip_cidr
    type: STRING
    required: false
    description: Comma-separated IPs or CIDRs to scan (e.g., 192.168.1.1,192.168.1.0/24)

  - id: domains
    type: STRING
    required: false
    description: Comma-Seperated domains (e.g., example.com,sub.example.com )

  - id: ports
    type: STRING
    required: false
    description: Open Ports (e.g., 80,443,8080-8090)

  - id: urls
    type: STRING
    required: false
    description: Comma-separated URLs to scan as-is

  - id: templates
    type: STRING
    required: false
    description: Comma-separated template paths/categories (e.g., cves,exposures)

  - id: tags
    type: STRING
    required: false
    description: Comma-separated tags (e.g., http,ssl)

  - id: severity
    type: STRING
    required: false
    description: Comma-separated severities (e.g., critical,high,medium)

  - id: region
    type: STRING
    defaults: "IN"

tasks:
  - id: prepare_targets
    type: io.kestra.plugin.scripts.python.Script
    description: Validate and normalize all target sources into a deduplicated list.
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    timeout: "PT20M"
    script: |
      import ipaddress
      from urllib.parse import urlparse

      def parse_ports(port_input):
          if not port_input or port_input.lower() == "null":
              return []

          ports = set()
          for part in port_input.replace(" ", "").split(","):
              if not part:
                  continue

              if "-" in part:
                  start, end = map(int, part.split("-"))
                  if start > end:
                      raise ValueError(f"Invalid range {part}")
                  if not (1 <= start <= 65535 and 1 <= end <= 65535):
                      raise ValueError(f"Port range {part} out of valid range")
                  ports.update(range(start, end + 1))
              else:
                  port = int(part)
                  if not 1 <= port <= 65535:
                      raise ValueError(f"Port {port} out of range")
                  ports.add(port)

          return sorted(ports)


      def expand_cidr(cidr, max_hosts=1024):
          try:
              network = ipaddress.ip_network(cidr, strict=False)
              hosts = list(network.hosts())

              if len(hosts) > max_hosts:
                  print(f"Warning: Skipping large CIDR {cidr}")
                  return []

              return [str(ip) for ip in hosts]
          except ValueError:
              print(f"Warning: Invalid CIDR {cidr}")
              return []


      def is_valid_ip(ip):
          try:
              ipaddress.ip_address(ip)
              return True
          except ValueError:
              return False


      # Inputs
      domains_input = "{{ inputs.domains }}"
      ip_cidr_input = "{{ inputs.ip_cidr }}"
      urls_input = "{{ inputs.urls }}"
      ports_input = "{{ inputs.ports }}"

      ports = parse_ports(ports_input)

      hosts = set()
      urls = set()

      # ---- Domains ----
      if domains_input and domains_input.lower() != "null":
          for domain in domains_input.split(","):
              domain = domain.strip()
              if domain:
                  hosts.add(domain)

      # ---- IPs & CIDRs ----
      if ip_cidr_input and ip_cidr_input.lower() != "null":
          for item in ip_cidr_input.split(","):
              item = item.strip()

              if not item:
                  continue

              if "/" in item:
                  hosts.update(expand_cidr(item))
              elif is_valid_ip(item):
                  hosts.add(item)
              else:
                  print(f"Warning: Invalid IP {item}")

      # ---- URLs ----
      if urls_input and urls_input.lower() != "null":
          for url in urls_input.split(","):
              url = url.strip()
              if url:
                  urls.add(url)

      # ---- Combine hosts + ports ----
      output_targets = set()

      if ports:
          for host in hosts:
              for port in ports:
                  output_targets.add(f"{host}:{port}")
      output_targets.update(hosts)

      # Add URLs as-is
      output_targets.update(urls)

      # ---- Write output ----
      with open("targets.txt", "w", encoding="utf-8") as f:
          for target in sorted(output_targets):
              f.write(f"{target}\n")

      # ---- Summary ----
      with open("target_summary.txt", "w", encoding="utf-8") as summary:
          summary.write(f"total_hosts={len(hosts)}\n")
          summary.write(f"total_urls={len(urls)}\n")
          summary.write(f"ports_applied={len(ports)}\n")
          summary.write(f"final_targets={len(output_targets)}\n")

    outputFiles:
      - "targets.txt"
      - "target_summary.txt"

  - id: parallel_nuclei_tasks
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: headless_nuclei
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          pullPolicy: IF_NOT_PRESENT
          networkMode: "{{kv(inputs.region).network_mode}}"
          cpu:
            cpus: 4
        containerImage: "nuclei:test"
        inputFiles:
          targets.txt: "{{outputs.prepare_targets.outputFiles['targets.txt']}}"
        commands:
          - |
            nuclei -l targets.txt \
                   -headless \
                   -page-timeout 20 \
                   -jsonl-export headless.jsonl \
                   {{ inputs.templates is defined ? '-t ' + inputs.templates.split(',').join(' -t ') : '' }} \
                   {{ inputs.tags is defined ? '-tags ' + inputs.tags : '' }} \
                   -silent -duc -no-mhe
        outputFiles:
          - "headless.jsonl"

      - id: dast_nuclei
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          pullPolicy: IF_NOT_PRESENT
          networkMode: "{{kv(inputs.region).network_mode}}"
          cpu:
            cpus: 2
        containerImage: "nuclei:test"
        inputFiles:
          targets.txt: "{{outputs.prepare_targets.outputFiles['targets.txt']}}"
        commands:
          - |
            nuclei -l targets.txt \
                   -dast \
                   -jsonl-export dast.jsonl \
                   {{ inputs.templates is defined ? '-t ' + inputs.templates.split(',').join(' -t ') : '' }} \
                   {{ inputs.tags is defined ? '-tags ' + inputs.tags : '' }} \
                   -silent -duc -no-mhe
        outputFiles:
          - "dast.jsonl"

      - id: core_nuclei
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          pullPolicy: IF_NOT_PRESENT
          networkMode: "{{kv(inputs.region).network_mode}}"
          cpu:
            cpus: 2
        containerImage: "nuclei:test"
        inputFiles:
          targets.txt: "{{outputs.prepare_targets.outputFiles['targets.txt']}}"
        commands:
          - |
            nuclei -l targets.txt \
                   -profile  all \
                   -jsonl-export core.jsonl \
                   {{ inputs.templates is defined ? '-t ' + inputs.templates.split(',').join(' -t ') : '' }} \
                   {{ inputs.tags is defined ? '-tags ' + inputs.tags : '' }} \
                   -silent -duc -no-mhe
        outputFiles:
          - "core.jsonl"

  - id: merge_results
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
    containerImage: jq_alpine
    inputFiles:
      headless.jsonl: "{{outputs.headless_nuclei.outputFiles['headless.jsonl']}}"
      dast.jsonl: "{{outputs.dast_nuclei.outputFiles['dast.jsonl']}}"
      core.jsonl: "{{outputs.core_nuclei.outputFiles['core.jsonl']}}"
    commands:
      - cat headless.jsonl dast.jsonl core.jsonl > all.jsonl
      - jq -s '.' all.jsonl > nuclei_output.json
    outputFiles:
      - "nuclei_output.json"
outputs:
  - id: scan_result
    type: FILE
    value: "{{outputs.merge_results.outputFiles['nuclei_output.json']}}"
