subdomain_enumeration.yaml
id: subdomain_enumeration
namespace: easm
description: "Enumerate subdomains for a given domain using subfinder, reconftw, and findomain"

inputs:
- id: domain
  type: STRING
  defaults: "sharkstriker.com"
- id: region
  type: STRING
  defaults: "IN"

tasks:
- id: parallel_enumeration
  type: io.kestra.plugin.core.flow.Parallel
  tasks:
  - id: reconftw
    type: io.kestra.plugin.scripts.shell.Commands
    containerImage: six2dez/reconftw:main
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
      networkMode: "{{kv(inputs.region).network_mode}}"
    commands:
    - "mkdir -p /reconftw/Recon/{{inputs.domain}}/.tmp"
    - "mkdir -p /reconftw/Recon/{{inputs.domain}}/.log"
    - "mkdir -p /reconftw/Recon/{{inputs.domain}}/.called_fn"
    - "mkdir -p /reconftw/Recon/{{inputs.domain}}/subdomains"
    - "touch /reconftw/Recon/{{inputs.domain}}/subdomains/subdomains.txt"
    - "ls /reconftw/Recon/{{inputs.domain}}"
    - "/reconftw/reconftw.sh -d {{inputs.domain}} -c sub_passive >/dev/null 2>&1"
    - "cp /reconftw/Recon/{{inputs.domain}}/subdomains/subdomains.txt $PWD/subdomains.txt"
    # - "cat /reconftw/Recon/{{inputs.domain}}/.tmp/*.txt > $PWD/subdomains.txt"
    outputFiles:
    - "subdomains.txt"

  - id: subfinder
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
      networkMode: "{{kv(inputs.region).network_mode}}"
    containerImage: projectdiscovery/subfinder
    commands:
    - subfinder -silent -duc -d "{{inputs.domain}}" -o "subfinder_output.txt"
    outputFiles:
    - "subfinder_output.txt"

  - id: findomain
    type: io.kestra.plugin.scripts.shell.Commands
    containerImage: edu4rdshl/findomain:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
      networkMode: "{{kv(inputs.region).network_mode}}"
    commands:
    - "findomain -t {{inputs.domain}} -u findomain.txt"
    outputFiles:
    - "findomain.txt"

- id: combine_results
  type: io.kestra.plugin.scripts.python.Script
  taskRunner:
    type: io.kestra.plugin.scripts.runner.docker.Docker
    pullPolicy: IF_NOT_PRESENT
    user: root
  containerImage: python:3.10-slim
  description: Combine outputs and remove duplicates
  script: |
    import os
    import json

    # Initialize empty sets for domains
    reconftw_domains = set()
    subfinder_domains = set()
    findomain_domains=set()

    # Read reconftw output if provided
    with open("{{ outputs.reconftw.outputFiles['subdomains.txt'] }}", "r") as f:
            reconftw_domains = set(line.strip() for line in f if line.strip())

    # Read subfinder output if provided
    with open("{{ outputs.subfinder.outputFiles['subfinder_output.txt'] }}", "r") as f:
        subfinder_domains = set(line.strip() for line in f if line.strip())

    # Read findomain output if provided
    with open("{{ outputs.findomain.outputFiles['findomain.txt'] }}", "r") as f:
        findomain_domains = set(line.strip() for line in f if line.strip())

    # Combine and remove duplicates
    all_domains = reconftw_domains.union(subfinder_domains).union(findomain_domains)

    # Write to output file
    with open("combined_domains.json", "w") as f:
        json.dump(sorted(all_domains),f)
  outputFiles:
  - combined_domains.json

outputs:
- id: subdomains
  type: JSON
  value: "{{read(outputs.combine_results.outputFiles['combined_domains.json'])}}"
